Repository novice-hero/TikTechTalk, pull requests merged in 2023-09, with the labels that each got.

#6 Create 인증, JWT.md
  SW Engineering/인증, JWT.md
Labels: SW Engineering

#8 Docs: OS - Interrupt
  OS/Interrupt/Interrupt.md
  OS/Interrupt/동작과정.png
Labels: OS

#10 Docs: 이중 동작 모드 / 시스템콜
  OS/DualMode-System_call/DualMode-System_call.md
  OS/DualMode-System_call/sysyem_call.png
Labels: OS

#13 Docs: margin&padding
  HTML&CSS/margin, padding/margin&padding.md
  HTML&CSS/margin, padding/margin&padding.png
Labels: HTML&CSS

#11 Crow_JS 정리
  JavaScript/prototype.md
  JavaScript/this.md
  JavaScript/비동기 동작, promise 동작.md
  JavaScript/호이스팅.md
Labels: JS

#14 Docs: React-createPortal
  React/createPortal.md
Labels: react
